.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.first-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-text {
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-menu .nav-link {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0 24px;
}
.nav-link.current {
  color: #404bbf;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: #4d5ae5;
}
.contact-info {
  font-style: normal;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list .contacts:hover,
.contact-list .contacts:focus {
  color: #4d5ae5;
  text-decoration: none;
  color: #434455;
  background-color: #ffffff;
}
.first-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.frst-section .site-title {
  color: #ffffff;
  font-size: 56px;

  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
.site-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}
.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.main-page {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  gap: 8px;
}
.main-text {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.prgph {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.values-list {
  display: flex;
  gap: 24px;
}
.values {
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}
.section-about {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.abt-us {
  font-size: 36px;
  font-weight: 700;
  background-color: #f4f4fd;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-members {
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.socicon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socicon:hover {
  background-color: #404bbf;
}
.socicon:focus {
  background-color: #404bbf;
}
.social-media-icon {
  fill: #f4f4fd;
}

.names {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.roles {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.section-portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-projects:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.projects {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.projects-descr {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.item-projects {
  text-decoration: none;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-projects:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-projects {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-prgph {
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-decoration: none;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-list {
  gap: 16px;
  justify-content: flex-start;
}
.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-contacts-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-label {
  gap: 24px;
}
.footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-email::placeholder {
  color: #ffffff;
}
.footer-submit-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-btn-text {
  margin-left: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-wrap {
  margin-right: 120px;
}
.footer-contacts-wrap {
  margin-left: auto;
}
/*========================MODAL========================*/
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  background-color: #fcfcfc;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  width: 360px;
  margin-bottom: 16px;
  color: #2e2f42;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.submit-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  line-height: 1.17;

  a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
}
.modal-span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text .modal-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
.checkbox-field {
  margin-bottom: 24px;
}
.modal-field-checkbox {
  margin-bottom: 16px;
}
